html {
  font-size: 14px;
}

h1 {
    font-family: 'Oswald', sans-serif;
}
h3 {
    font-family: 'Oswald', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0px 0px 30px 0px
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #bdc848;
    color: white;
    text-align: center;
    padding: 5px;
}

/*home page*/
.dirTreeChild {
    align-items: center;
    background-color: initial;
    background-image: linear-gradient(#464d55, #25292e);
    border-radius: 8px;
    border-width: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    font-family: expo-brand-demi,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 18px;
    height: 52px;
/*    width: 250px;*/
    justify-content: center;
    line-height: 1;
    margin: 6px;
    outline: none;
    overflow: hidden;
    padding: 0 32px;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all 150ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.dirTreeChild:hover {
    box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
    opacity: .85;
}

.dirTreeChild:active {
    outline: 0;
}

.dirTreeChild:focus {
    box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}

@media (max-width: 420px) {
    .dirTreeChild {
        height: 48px;
    }
}

.homeDivMain {
    width: 100%;
    height: 100%;
}
nav {
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: row;
    background-color: #F5F5F5;
    margin-bottom: 10px;
    width: 100%;
}
.pageHeading {
    position: absolute;
    right: 40px;
}

.navigation {
   display: flex;
   flex-direction: column;
   position: absolute;
   top: 10%;
   background-color: none;
}

.img {
    width: 30%;
}

/*forms*/
input {
    margin: 5px 10px 10px 0px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}
form p {
    display: flex;
    flex-direction: column;
}
form {
    background-color: #F5F5F5;
    width: 30%;
    padding: 20px;
    border-radius: 5px;
}
input[type="submit"] {
    background-color: #5C5C5C;
    color: white;
}

/* images */
.img01 {
    width: 50%;
}

.docDivParent {
    margin: auto;
    width: 50%;
    padding: 15px;
    
}

