@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="homeDivMain">
    <button onclick="directoryUp()">back</button>
    <nav id="navigation" class="navigation">
        <button onclick="directoryDown('home')" class="dirTreeChild">home</button>
    </nav>
</div>
