@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="homeDivMain">
    <div id="navigation" class="navigation">
        <button onclick="directoryDown('home')" class="dirTreeChild">home</button>
    </div>
</div>
