@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<div class="homeDivMain">
    <nav id="navigation" class="navigation">
        <button onclick="directoryDown('home')" class="dirTreeChild">home</button>
    </nav>
</div>
