@page
@model WepApp01.Pages.pool_coping_calculatorModel
@{
    ViewData["pageName"] = "Pool Coping Calculator";
}

<form method="post">
    <p>
        <label for="perimeter">Perimeter of pool</label>
        <input type="text" id="perimeter" name="perimeter" placeholder="numbers only" pattern="[+-]?([0-9]*[.])?[0-9]+"/>
    </p>
    <p>
        <label for="corners">Total corners</label>
        <input type="number" id="corners" name="corners"/>
    </p>
    <p>
        <label for="copingLength">Coping Length</label>
        <input type="number" id="copingLength" name="copingLength" placeholder="please enter in mm measurements ex.600" />
    </p>
    <p> 
        <input type="submit"/>
    </p>  
</form>
@{
    if (Model.totalCopers != 0)
    {
        <p>@Model.totalCopers total Coping Tiles</p>  
    }
}
