@page
@model UltimateTilesProj.Pages.Travertine_being_used_around_poolsModel
@{
}

<div class="docDivParent">
    <div class="docDivChild">
        <h1>Travertine being used for around Pools</h1>
        <h3>What is Travertine?</h3>
        <p>Travertine is a type of limestone, formed through chemical precipitation of calcium carbonate minerals in fresh water. Travertine is porous in nature; the high porisity allows for the absoroption of water. <br /> The central point of concern when <b>Travertine is exposed to salt in a salt water or chlorinated pool is a reduction in strength and integrity.</b></p>
        <h3>Salt Crystalization</h3>
        <p>The repeated cycle of the wetting & drying of the stone creates a problem known as salt crystallization or “salt attack”. <br /> Salt will be transported from the masonry substrate into the pores of the Travertine via the saline solution from the pool. Once the water evaporates from the stone the salt will crystalize creating pressure on the pore walls, the salt crystals will then dissolve once water re-emerges into the stone. The repeated process of salt re-crystallization causes stress on the pore walls and causes strength and integrity loss of the stone. <em>A study conducted by Veli University, Turkey found that Travertine exposed to an experiment of 25 accelerated salt crystallization weather tests caused a significant strength reduction of 18.4%-49.5% with smaller pores being attributed to higher reduction of strength and an integrity reduction of 40-50%.</em></p>
        <h3>Issue Prevention</h3>
        <p>The best way to prevent these issues from occurring is to prevent the ingress of water, this can be achieved via an impregnating sealer. Guard IT Solutions Dense All Stone Sealer is a water based impregnating sealer that makes the stone %97 impermeable. <br /> Rick De Jonge general manager of Guard IT Solutions suggests both the substrate and bottom surface of the coper should be sealed; the surfaces need to be bone dry when sealing occurs. <br /> The pavers should then be laid and grouted with the rest of the surface being sealed a day later with the absence of grout haze. <br /> The Dense All Stone Sealer molecules are carried in water & the sealant is 97% impermeable allowing for the water to evaporate leaving the minerals in the stone. <br /> The sealant should be applied with a light pressure spray with 2-3 even coats leaving time for coats to dry in between. <br /> It is recommended that the Travertine be re-sealed every 5 years with the same sealer applied as previous.</p>
    </div>
</div>
